<mat-sidenav-container>

  <!-- sidenav -->
  <mat-sidenav #sidenav mode="side" opened="true">
    <h5>Angular Demo</h5>
    <mat-nav-list>
      <mat-list-item>
        <a matLine routerLink="/home">Home</a>
      </mat-list-item>
      <mat-list-item>
        <a md-link routerLink="/articles">Articles</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- header toolbar -->
  <mat-toolbar>
    <div>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    
    <!-- breadcrumb -->
    <nav-title></nav-title>
  </mat-toolbar>

  <!-- content -->
  <div class="">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>